:root {
    --purple: #6A5495;
    --pink: #ED5EDD;
    --green: #8BDB81;
    --yellow: #E7ED9B;
    --blue: #6a9dfc;
    --red: #fa0909;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(111, 247, 229), rgb(75, 246, 112));
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--blue);
    color: var(--green);
}

.navbar-image {
    width: 150px;
    height: 50px;
}

.navbar-options {
    display: flex;
}

.navbar-options a {
    color: var(--yellow);
}
.fa-gifts {
    border: 1px solid transparent;
    background-color: red;
    border-radius: 10px;
    color: #FFF;
    padding: 15px;
    cursor: pointer;
}

.fa-solid {
    border: 1px solid transparent;
    background-color: var(--pink);
    border-radius: 10px;
    color: #FFF;
    padding: 15px;
    cursor: pointer;
}

.navbar-right .cart {
    margin-right: 20px;
    position: relative;
    font-size: 15px;
}

.navbar-right .cart::after {
    content: attr(data-products);
    position: absolute;
    top: -25px;
    right: -15px;
    background-color: var(--red);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.mybasket {
    margin-left: 20px;
}

.section-items {
    display: flex;
}

.btn-container {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
    height: 100;
    /* background-color: rgb(255, 255, 255); */
    font-size: 0.85rem;
    text-align: center;
    
}

.products-bar__categories {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    background-color: rgb(247, 199, 121);
    color: rgb(21, 20, 20);
    font-size: 0.85rem;
    box-shadow: 1px 10px 10px rgb(193, 191, 191);
}

.shop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.shop-menu__item {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 3px solid var(--pink);
    border-radius: 10px;
}

.shop-menu__text {
    font-size: 0.85rem;
    color: var(--blue)
}

.shop-menu__price {
    color: rgb(245, 84, 84);
    margin-top: 5px;
}

.shop-menu__button {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(251, 196, 93);
    color: #FFF;
    padding: 10px;
    margin-top:10px;
    cursor: pointer;
}

.clear-btn {
    display: flex;
    background-color: red;
    color: #FFF;
    padding: 15px;
    margin: 0 auto;
    border-color: red;
    border-radius: 15px;
}

.message {
    margin: 120px auto;
}

.cart-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 40px;
}